#main-container {
    width: 414px;


}

h1 {
    color: white;
    background-color: rgb(139, 77, 19);
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 66%;
    height: 50px;
}

#main-p {
    color: black;
    background-color: pink;
    height: 350px;
    text-align: center;
    font-weight: bold;
    border: 10px;
}

body {

    background-image: url("crystals-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 10px;
}

p1 {
    border: 1px;
    padding: 10px;
    display: block;
}

p2 {
    border: 1px;
    padding: 10px;
    display: block;
}

p3 {
    border: 1px;
    padding: 10px;
    display: block;
}

p4 {
    border: 1px;
    padding: 10px;
    display: block;
}

p5 {
    border: 1px;
    padding: 10px;
    display: block;
}

#container {
    display: inline-flex;
    padding: 5px;
    width: 75%;
}

#randomNumber {
    background-color: lightgreen;
    width: 300px;
    height: 100px;
    border: 1px;
    display: flex;
    font-size: x-large;
}

#wins-losses {
    background-color: skyblue;
    width: 175px;
    height: 100px;
    border: 1px;
    display: -moz-inline-stack;
}

#numberWins {
    height: 50px;
    padding: 10px;
}

#numberLosses {
    height: 50px;
}

#total-score-a {
    color: white;
    background-color: darkgreen;
    height: 30px;
    width: 225px;
    padding: 10px;
    font-size: large;
}

#userScore {
    color: white;
    background-color: darkgreen;
    height: 100px;
    width: 225px;
    font-size: x-large;
}

#crystals {
    height: 75px;
    width: 100%;
    display: inline-block;
}

#crystals input {
    width: 80px;

}
